.header-box{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20vh;
    background-color: yellow;
    border: 1px solid black;
    font-size: 40px;
}

.ts{
    border: 1px solid gray;
    padding: 10px;
    margin: 5px;
    text-align: center;
}

$textsize:10px;

@for $i from 1 to 7{
    .ts-#{$i}{
        font-size: $textsize * $i;

        @if($i <= 3){
            color : red;
            border-color: red;
        }
        @else{
            color: green;
            border-color: green;
        }
    }
}